<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	{{> header}}
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi beatae quibusdam aliquid hic consectetur vel quia voluptatum adipisci ab cupiditate. Qui minima dicta, deleniti ad cupiditate error perspiciatis quam magni!</p>

	{{> footer}}
</body>
</html>
